<%- include('../common/header')   %>      
    <%- include('../common/menu') %>
       
    <main>
        <div class="bg-light p-5 mb-4">
            <div class="container text-center">
                <h1>Nova notícia</h1>
            </div>
        </div>

        <div class="container">
            <form action="">
                <div class="mb-3">
                    <label for="titulo" class="form-label">
                        Titulo
                    </label>
                    <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Titulo da noticia" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <label for="conteudo" class="form-label">
                        Conteúdo
                    </label>
                    <textarea name="conteudo" id="conteudo" cols="30" rows="10" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg w-100">Criar</button>
            </form>
        </div>

    </main>

<%- include('../common/footer') %>